doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE-edge')
    meta(name='viewport' content='width-device-width, initial-scale=1.0')
    title Whitelist
    a(href='http://localhost:3000/twitch/user')
      img(src=profilepicture id='twitchpicture')
    img(src='https://i.imgur.com/rXbSS6s.png' id='minecraft-logo')
    h1(id='title') Whitelist Minecraft Player
  body
  style
    include ../styles/main.css
    include ../styles/whitelist.css
  form(action='/whitelist' method='post')
    br
    input(type='text' name='minecraftUsername' id='username' value=minecraftUsername placeholder='Enter your Minecraft Username')
    br
    button(type='submit' id='whitelist-button') Whitelist
    br
