doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE-edge')
    meta(name='viewport' content='width-device-width, initial-scale=1.0')
    title=minecraftUsername
  body
  img.avatar(src=minecraftAvatar)
  img.bg(src='https://i.imgur.com/wzegOBA.png', id='bg-image')
  style
    include ../../styles/main.css
    include ../../styles/user.css
  p(id='user')=minecraftUsername
  p(id='msg') has been whitelisted 