doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE-edge')
    meta(name='viewport' content='width-device-width, initial-scale=1.0')
    title=minecraftUsername
    .top(id='top')
      img(src=minecraftAvatar id='avatar')
      form(method='post')
        br
        input(type='text' name='minecraftUsername' id='username' value=minecraftUsername readonly)
        br
        input(type='text' id='status' value=status readonly)
  body
  style
    include ../../styles/main.css
    include ../../styles/user.css