#top {
    background: url('https://i.imgur.com/YBRuEOR.png') !important;
    background: repeat-x; height: 173px;
}


#avatar {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 40rem;
    position: static;
    margin-bottom: 20rem;
}


#player-txt {
    position: static;
    color: darkgreen;
    font-family: proxima-nova, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 28px;
    margin-top: 10px;
    margin-right: 22rem;
}

#status-txt {
    position: static;
    color: darkgreen;
    font-family: proxima-nova, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 28px;
    left: 35.85rem;
    margin-top: 55px;
    margin-right: 22rem;
}

body {
    text-align: center;
    background-color: #232323;;
    overflow-x: hidden;
}

form {
    min-width: 800px;
    position: static;
    margin-top: -35.5rem;    
}

#username {
    width: 420px;
    height: 32px;
    margin: 28px;
    background-color: #202020;
    font-family: proxima-nova, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 700 !important;
    text-align: center;
    padding-left: 10px;
    padding:5px; 
    color: white;
    border-color: transparent;
    transition-property: color, border-color;
    -webkit-transition-property: color, border-color;
    -moz-transition-property: color, border-color;
    transition-duration: .25s;
    transition-timing-function: ease;
}

#username:hover{
    outline:none;
    border:2px solid#49c02e;
    color:#49c02e;
    transition-property: color, border-color;
    -webkit-transition-property: color, border-color;
    -moz-transition-property: color, border-color;
    transition-duration: .25s;
    transition-timing-function: ease;
    font-style: normal;
    font-weight: 500;
    cursor: default;
}

#username:focus {
    outline: none;
}

#status {
    width: 435px;
    height: 43px;
    background-color: #202020;
    font-family: proxima-nova, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 600 !important;
    text-align: center;
    padding-left: 10px;
    padding:5px;
    color: white;
    border-color: transparent;
    transition-property: color, border-color;
    -webkit-transition-property: color, border-color;
    -moz-transition-property: color, border-color;
    transition-duration: .25s;
    transition-timing-function: ease;
    cursor: pointer;
}

#status:hover[value='Not Whitelisted']{
    outline:none;
    border:2px solid#ff0000;
    color:#ff0000;
    transition-property: color, border-color;
    -webkit-transition-property: color, border-color;
    -moz-transition-property: color, border-color;
    transition-duration: .25s;
    transition-timing-function: ease;
    font-style: normal;
    font-weight: 500;
}

#status:hover[value='Whitelisted']{
    outline:none;
    border:2px solid#49c02e;
    color:#49c02e;
    transition-property: color, border-color;
    -webkit-transition-property: color, border-color;
    -moz-transition-property: color, border-color;
    transition-duration: .25s;
    transition-timing-function: ease;
    font-style: normal;
    font-weight: 500;
}

#status:focus {
    outline: none;
}